<h1>Seja bem-vindo!</h1>

<ul>
    <li><%= link_to "Tipos", kinds_path%></li>
    <li><%= link_to "Contacts", contacts_path%></li>
    <li><%= link_to "Address", addresses_path%></li>
    <li><%= link_to "Phones", phones_path%></li>
</ul>
<p>Find me in app/views/home/index.html.erb</p>
